<:Title>
  Todos

<:Body>
  <h1>{{ _todos.size }} Todo List</h1>
  <button e-click="check_all">Check all ( {{ incomplete }} )</button>

  <table class="todo-table">
    {{ _todos.each do |todo| }}
      <tr e-click="params._index = index" class="{{ if params._index.or(0).to_i == index }}selected{{ end }}">
        <td><input type="checkbox" checked="{{todo._completed}}" /></td>
        <td class="{{ if todo._completed}}complete{{end}}">{{ todo._name }}</td>
        <td><button e-click="remove_todo(todo)">X</button></td>
      </tr>
    {{ end }}
  </table>

  <form e-submit="add_todo" role="form">
    <div class="form-group">
      <label>Todo</label>
      <input class="form-control" type="text" placeholder="I need to..." value="{{ page._new_todo  }}" />
    </div>
  </form>

  {{ template "mytodo"}}

<:MyTodo>

  {{ if current_todo }}
    <h2>{{ current_todo._name }}</h2>
    <textarea>{{ current_todo._description }}</textarea>
  {{ end }}